/** Reset **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/** Variables **/
:root {
    --salumeria-black: #161615;
    --salumeria-green: #1C562C;
    --salumeria-green-alpha: rgba(28, 86, 44, 0.7);
    --salumeria-red: #850A0F;
    --salumeria-red-alpha: rgba(133, 10, 15, 0.7);    
    --salumeria-text: "Bodoni Moda", serif;
    --salumeria-title: "Italiana", sans-serif;
    --salumeria-white: #FFFFFF;
    --salumeria-yellow: #DAD1C1;
}


/** Fonts **/
* {
    font-family: var(--salumeria-text);
}


/** General **/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/** Headings **/
.heading {
    font-family: var(--salumeria-title);
}

.section__heading {
    font-size: 32px;
    font-weight: normal;
    margin: 20px 40px;
    padding-top: 25px;
}


/** Link **/
.link {
    color: var(--salumeria-black);
    text-decoration: none;
}
.link:hover {
    color: var(--salumeria-red);
}


/** Buttons **/
.btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
    margin: auto;
    padding: 5px 20px;
    transition: 0.5s;
    width: 250px;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid var(--salumeria-red);
    cursor: pointer;
}


/** Header **/
.header__block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0;
    width: 90vw;
}

/* Logo */
.header__logo {
    object-fit: contain;
    width: 225px;
}

/* Navigation */
.nav__mobile_logo {
    display: flex;
    width: 30px;
}

.nav__list {
    display: none;
}


/** Main **/
.main__block {
    flex: 1 0 auto;
}

/* Banner */
.main__banner {
    position: relative;
}

.banner__image {
    height: 100vh;
    max-height: 650px;
    object-fit: cover;
    width: 100%;
}

.banner__text {
    background: var(--salumeria-red-alpha);
    color: var(--salumeria-white);
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    height: 115px;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: calc((70% - 115px) - (10px * 1/2));
    width: 75vw;
}

.banner__text--title,
.banner__text--description {
    font-weight: normal;
    opacity: 0.7;
}


/** Container **/
.container__block {
    margin: auto;
    padding: 20px 0;
    width: 90vw;
}


/** Contact **/
#contact {
    background-color: var(--salumeria-yellow);
    padding-bottom: 30px
}
#contact > .container__block {
    background-color: var(--salumeria-white);
}

/* Informations */
.contact__infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.contact__address {
    font-size: 18px;
    font-weight: bold;
}

/* Maps */
.contact__map {
    margin-top: 15px;
    object-fit: cover;
    width: 100%;
}

/* Form */
.contact__heading {
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding: 0 5vw;
    width: 90vw;
}

.contact__label {
    font-weight: bold;
}

.contact__field {
    font-size: 16px;
    padding: 20px;
}

textarea.contact__field {
    min-height: 150px;
    resize: none;
}

.btn--contact {
    background-color: var(--salumeria-yellow);
}


/** Footer **/
.footer__block {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 5vw;
    width: 100%;
}

/* Social media */
.footer__socials_link {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.footer__socials_logo {
    height: 40px;
    width: 40px;
}

/* Informations */
.footer__informations {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    justify-content: space-around;
    width: 100%;
}