/** Reset **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/** Variables **/
:root {
    --salumeria-black: #161615;
    --salumeria-black-alpha: #000000DD;
    --salumeria-green: #1C562C;
    --salumeria-green-alpha: rgba(28, 86, 44, 0.7);
    --salumeria-red: #850A0F;
    --salumeria-red-alpha: rgba(133, 10, 15, 0.7);    
    --salumeria-text: "Bodoni Moda", serif;
    --salumeria-title: "Italiana", sans-serif;
    --salumeria-white: #FFFFFF;
    --salumeria-yellow: #DAD1C1;
}


/** General **/
html, body {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/** Content **/
* {
    font-family: var(--salumeria-text);
}


/** Buttons **/
.btn {
    align-items: center;
    border: none;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin: auto;
    padding: 5px 20px;
    text-decoration: none;
    transition: 0.5s;
    width: 250px;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid var(--salumeria-red);
    cursor: pointer;
}


/** Links **/
.link {
    border-bottom: 1px solid transparent;
    color: var(--salumeria-black);
    text-decoration: none;
    transition: 0.5s;
}
.link:hover {
    border-bottom-color: var(--salumeria-green-alpha);
    color: var(--salumeria-red);
}


/** Icons **/
.icon {
    transition: 0.5s;
}
.icon:hover {
    filter: grayscale(1);
}


/** Headings **/
.heading {
    font-family: var(--salumeria-title);
}

.section__heading {
    font-size: 32px;
    font-weight: normal;
    margin: 10px auto;
    padding-top: 25px;
    width: 85vw;
}


/** Header **/
.header__block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0;
    width: 90vw;
}

/* Logo */
.header__logo {
    object-fit: contain;
    width: 225px;
}

/* Navigation */
.nav__mobile_logo {
    display: flex;
    width: 30px;
}

.nav__list {
    display: none;
}


/** Main **/
.main__block {
    flex: 1 0 auto;
}


/** Banner **/
.banner {
    position: relative;
}

.banner__image {
    height: 100vh;
    max-height: 650px;
    object-fit: cover;
    width: 100%;
}

.banner__container {
    background: var(--salumeria-red-alpha);
    color: var(--salumeria-white);
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    justify-content: center;
    min-height: 115px;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75vw;
}

.banner__title,
.banner__description {
    font-weight: normal;
    opacity: 0.7;
}


/** Container **/
.container__block {
    margin: auto;
    padding: 20px 0;
    width: 85vw;
}


/** Footer **/
.footer__block {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 5vw;
    width: 100%;
}

/* Social media */
.footer__socials {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.footer__socials_logo {
    height: 40px;
    width: 40px;
}

/* Informations */
.footer__informations {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    justify-content: space-around;
    width: 100%;
}


/*** Home ***/
/** Grocery **/
.grocery__image {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
}

.grocery__heading {
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0;
}

.grocery__description:first-of-type {
    margin-bottom: 20px;
}


/** Products **/
#products {
    position: relative;
}

#products > .section__heading {
    color: var(--salumeria-white);
}

.product__background {
    background-color: var(--salumeria-red);
    height: 50%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.products__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;
}

/* Product - Header */
.product__header {
    position: relative;
}

.product__image {
    display: flex;
    width: 100%;
}

.product__name {
    background-color: var(--salumeria-black-alpha);
    border-radius: 20px;
    color: var(--salumeria-yellow);
    font-size: 24px;
    font-style: italic;
    padding: 5px 10px;
    position: absolute;
    right: 25px;
    top: 25px; 
}

/* Product - Footer */
.product__footer {
    background-color: var(--salumeria-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.product__description {
    width: 80%;
    margin: auto;
}

/* Product - Button */
.btn--product {
    background-color: var(--salumeria-red);
    color: var(--salumeria-white);
}
.btn--product:hover {
    color: var(--salumeria-red);
}


/** Teams **/
#teams > .section__heading {
    padding-top: 0;
}

.teams__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.team__photography {
    display: flex;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.team__name {
    background-color: var(--salumeria-red);
    color: var(--salumeria-yellow);
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 75px;
    width: fit-content;  
}

.team__quote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
}

.team__tip {
    color: var(--salumeria-green-alpha);
    font-size: 20px;
    margin-bottom: 15px;
}


/** Contact **/
#contact {
    background-color: var(--salumeria-yellow);
    padding-bottom: 40px
}

#contact > .container__block {
    background-color: var(--salumeria-white);
}

.contact__content {
    flex-wrap: wrap;
    padding: 25px;
}

/* Informations */
.contact__infos {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 15px;
    text-align: center;
}

.contact__address > p {
    font-weight: bold;
    margin-bottom: 0;
}

/* Maps */
.contact__map {
    height: 300px;
    margin-top: 15px;
    object-fit: cover;
    width: 100%;
}

/* Form */
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.contact__heading {
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

.contact__label {
    font-weight: bold;
}

.contact__field {
    font-size: 16px;
    padding: 20px;
}

textarea.contact__field {
    min-height: 150px;
    resize: none;
}

.btn--contact {
    background-color: var(--salumeria-yellow);
}


/** Responsive **/
@media screen and (min-width: 1024px) {
    /** Headings **/
    .section__heading {
        font-size: 50px;
    }

    /** Header **/
    /* Navigation */
    .nav__mobile_logo {
        display: none;
    }

    .nav__list {
        align-items: center;
        display: flex;
        font-size: 18px;
        gap: 0 20px;
        list-style: none;
    }

    .nav__icon {
        display: flex;
        width: 25px;
    }


    /** Banner **/
    .banner__container {
        padding-left: 50px;
    }

    .banner__title {
        font-size: 115px;
        font-weight: normal;
    }

    .banner__description {
        font-size: 50px;
    }


    /** Products **/
    .product__background {
        height: 100%;
    }

    .products__list {
        display: flex;
        flex-direction: row;
    }

    .product {
        flex: 1 0 calc((100% / 3) - (25px * 2 /3));
    }

    /* Product - Header */
    .product__header {
        height: 70%;
    }

    .product__image {
        height: 100%;
    }

    /* Product - Footer */
    .product__footer {
        height: 30%;
        padding: 40px 20px;
    }

    .product__description {
        width: unset;
    }

    /* Product - Button */
    .btn--product {
        background-color: var(--salumeria-white);
        color: var(--salumeria-red);
    }
    .btn--product:hover {
        border-color: var(--salumeria-white);
        color: var(--salumeria-white);
    }


    /** Teams **/
    #teams > .section__heading {
        padding-top: 25px;
    }

    .teams__list {
        flex-direction: row;
        justify-content: space-between;
    }

    .team {
        flex: 1 0 calc((50%) - (25px * 1/2));
    }

    .team__name {
        font-size: 32px;
        justify-content: center;
        margin: 0 0 20px 0;
        width: 100%;
    }


    /** Contact **/
    #contact > .container__block {
        padding: 0;
    }

    .contact__content {
        align-items: stretch;
        display: flex;
        gap: 50px 15px;
        justify-content: center;
    }

    /* Informations */
    .contact__infos {
        flex: 1 0 calc((100% / 2) - (15px * 1 /2));
        font-size: 30px;
        justify-content: space-between;
    }

    /* Maps */
    .contact__map {
        flex: 1 0 calc((100% / 2) - (15px * 1 /2));
        height: 300px;
        margin-top: 0;
    }

    /* Form */
    .contact__form {
        width: 100%;
    }

    .contact__heading {
        margin: 0 20px;
    }
    

    /** Footer **/
    .footer__block {
        flex-direction: row-reverse;
        flex-wrap: unset;
    }

    /* Social media */
    .footer__socials {
        gap: 0 50px;
        justify-content: end;
    }
}